@import '../../../styles/customMediaQueries.css';

.root {
  position: relative;
  box-shadow: var(--boxShadowBottomForm);

  @media (--viewportLarge) {
    box-shadow: none;

    /* Clearfix */
    width: 100%;
    overflow: hidden;
  }
}

.spinner {
  stroke: var(--colorWhite);
  width: 18px;
  height: 18px;
  stroke-width: 4px;
}

.fillSuccess {
  fill: var(--colorSuccess);
}

.strokeMatter {
  stroke: var(--colorGrey700);
}

.submitContainer {
  display: flex;
  flex-direction: row;
}

.errorContainer {
  display: block;
  flex: 1;
  text-align: right;
  padding: 26px 24px 0 0;
}

.error {
  composes: h5 from global;

  font-weight: var(--fontWeightMedium);
  color: var(--colorFail);
  margin: 0;
}

.submitButton {
  float: right;
  min-width: 150px;
  background-color: #0C1D2E;
  font-family: 'sf regular';
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
  color: #fff;
  border-radius: 12px;
  padding: 18px 28px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 4px;

  &:hover {
    color: #0C1D2E;


    & svg {
      & path {
        stroke: #0C1D2E;
      }

    }
  }

  & svg {
    & path {
      stroke: #fff;
    }
  }
}

.sendIcon {
  margin-left: 4px;
  /* margin: -3px 5px 0 0; */
}