@import '../../../styles/customMediaQueries.css';

.root {
  display: flex;
  flex-direction: column;
}

.listingCardsMapVariant {
  padding: 0 0 96px 0;
  max-width: 980px;
  margin-left: auto;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  width: 100%;

  @media (--viewportLarge) {
    grid-template-columns: repeat(3, 1fr);
  }

}

.listingCards {
  padding: 0 0 72px 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: 100%;

  @media (max-width: 1260px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 520px) {
    grid-template-columns: repeat(1, 1fr);
  }

  & a {
    border: 1px solid #f0f0f0;
    padding: 5px;
    border-radius: 3px;
  }
}

.listingCard {
  width: 100%;
  /* border: 1px solid #E5E5E5; */
  border-radius: 10px;
  overflow: hidden;

  & > div:first-child:has(img){
    height: 170px;
    width: 100%;
    object-fit: cover;
  }


}

.pagination {
  /* margin-top: auto; pushes pagination to the end of the page. */
  margin-top: auto;
  background-color: transparent;
}