@import '../../../styles/customMediaQueries.css';

.root {}

.content {
  margin-bottom: 60px;
}

.authContentContainer {
  padding: 20px;
  background-color: #F9F9F9;
  border-radius: 10px;
}

.flexCont {
  display: flex;
  flex-direction: row;
}


.avatar {
  flex-shrink: 0;
  margin-right: 12px;
}

.info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;


@media (max-width:600px) {
  flex-direction: column;
gap: 10px;
}
}

.heading {
  composes: p from global;
  margin: 0;

  @media (--viewportMedium) {
    margin: 0;
  }
}

.link {
  white-space: nowrap;

  border-radius: 10px;
  background-color: #E4760F;
  border: 1px solid #E4760F;
  padding: 8px 15px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;

  &:hover {
    text-decoration: none;
  }
}

.mobileBio,
.desktopBio {
  /* Preserve newlines, but collapse other whitespace */
  white-space: pre-line;
  margin: 8px 0 0 0;
  transition: all 1s ease-in;

  @media (--viewportMedium) {
    margin: 8px 0 0 0;
  }
}

.mobileBio {
  @media (--viewportMedium) {
    display: none;
  }
}

.desktopBio {
  display: none;

  @media (--viewportMedium) {
    display: block;

    &::before {
      content: ' ';
    }
  }
}

.longWord {
  word-break: break-word;
  hyphens: auto;
}

.showMore {
  /* Position and dimensions */
  display: inline;
  padding: 0;

  /* Borders */
  border: none;

  /* Colors */
  color: var(--marketplaceColor);

  /* Text size should be inherited */
  text-decoration: none;

  font-weight: var(--fontWeightMedium);
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0;

  margin: 0 0 0 5px;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  @media (--viewportMedium) {
    font-weight: var(--fontWeightMedium);
    /* margin-top + n * line-height + margin-bottom => x * 8px */
    margin-top: 17px;
    margin-bottom: 15px;
  }
}

.links {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.withBioMissingAbove {
  @media (--viewportMedium) {
    /* Fix baseline alignment if bio is missing from above */
  }
}

.linkSeparator {
  margin: 0 10px;
  color: var(--marketplaceColor);
}

.headingRow {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'sf medium';
  color: #3D3D3D;

  @media (--viewportMedium) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

.editProfileDesktop {
  composes: p from global;
  display: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  margin-left: 12px;
  margin-right: 12px;

  @media (--viewportMedium) {
    display: inline;
  }
}

.editProfileMobile {
  composes: p from global;
  display: inline;

  @media (--viewportMedium) {
    display: none;
  }
}

.contact {
  composes: a from global;
  font-weight: var(--fontWeightMedium);
}