@import '../../../styles/customMediaQueries.css';

.root {
  display: flex;
  flex-direction: column;
  background-color: var(--colorGrey50);
  position: relative;
}

.filters {
  & > *:not(:last-child) {
    margin-right: 10px;
    margin-bottom: 10px;
    height: auto;
  }
}
