@import '../../styles/customMediaQueries.css';

.root {
  /* Layout */
  display: flex;
  flex-direction: column;

  /* Remove link's hover effect */
  &:hover {
    text-decoration: none;
  }
}

.aspectRatioWrapper {
  transition: var(--transitionStyleButton);
  background: var(--colorGrey100); /* Loading BG color */
  border-radius: 0;

  @media (--viewportMedium) {
    &:hover {
      /* transform: scale(1.02); */
      box-shadow: var(--boxShadowListingCard);
    }
  }
}

.rootForImage {
  border: solid 1px var(--colorGrey100);
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.info {
  /* Layout */
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  @media(max-width: 768px) {
    padding: 10px;
  }
}

.price {
  composes: textSmall from global;
  /* Layout */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-shrink: 0;
  margin-bottom: 4px;
  color: var(--colorGrey700);
}

.priceValue {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.25rem;
    color: hsl(210 22% 15%);
}

.perUnit {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.25rem;
  color: hsl(210 22% 15%);
}

.mainInfo {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin: 0;
  color: hsl(210 22% 15%);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.authorInfo {
    font-size: 16px;
    line-height: 1.25rem;
    color: hsl(210 22% 15%);
    margin: 10px 0;
}

.longWord {
  /* fallback option */
  word-break: break-all;
  /* use break-word if available */
  word-break: break-word;
  hyphens: auto;
}

.capabilities{
  row-gap: 5px;
  /* display: flex; */
  flex-wrap: wrap;
  min-height: 85px;
  column-gap: 15px;
  margin: 10px 0 20px;

  & .capabilityLabel{
    color: hsl(210 22% 15%);
    padding: 4px 10px;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 600;
    border-radius: 50px;
    background-color: hsl(210 15% 96%);
    float: left;
    margin-bottom: 5px;
  }
}
.specificationlist{
  & .rowLabel{
    display: flex;
    justify-content: space-between;
    &:not(:last-child){
      margin-bottom: 7px;
      padding-bottom: 7px;
      border-bottom: 1px solid hsl(210 15% 90%);
    }
    & .labelBold{
      font-weight: 600;
      font-size: .75rem;
      line-height: 1rem;
      color: hsl(210 15% 45%);
    }
    & .normalText{
       font-weight: 400;
      font-size: .75rem;
      line-height: 1rem;
      color: hsl(210 15% 45%);
    }
  }
}