@import '../../styles/customMediaQueries.css';

.root {
  margin: 0;
}

.twoColumns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* @media (--viewportMedium) {
    column-count: 2;
  } */
}

.item {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  border: 1px solid #081F364D;
  color: #081F36;
  width: fit-content;
  border-radius: 99rem;gap: 5px;
  background-color: #F9F9F9;
 
}

.checkIcon {
}

.hidden {
  visibility: hidden;
}

.marketplaceFill {
  fill: var(--marketplaceColor);
}

.iconWrapper {
  align-self: baseline;
  margin-right: 8px;

  /* This follows line-height */
  height: 24px;
}

.labelWrapper {
  display: inline-block;
}

.selectedLabel,
.notSelectedLabel {
  composes: marketplaceBodyFontStyles from global;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.selectedLabel {
  /* font-weight: var(--fontWeightSemiBold); */
}

.notSelectedLabel {
  color: var(--colorGrey300);
  position: relative;
  text-decoration: line-through;
}
