@import '../../styles/customMediaQueries.css';

.root {}

/* Order form inside modalContainer needs special handling */
/* since "inMobile" breakpoint is actually --viewportLarge */
.modalContainer {
  composes: marketplaceModalInMobileBaseStyles from global;

  height: 100vh;

  @media (--viewportMedium) {
    flex-basis: 576px;
    height: unset;
    padding: var(--modalPaddingMedium);
    background-color: var(--colorWhite);
    margin-top: 12.5vh;
    margin-bottom: 12.5vh;
  }

  @media (--viewportLarge) {
    padding: 0;
    background-color: transparent;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.modalHeading {
  margin-top: 89px;
  margin-bottom: 0px;
  padding: 0 24px;

  @media (--viewportMedium) {
    padding: 0;
  }

  @media (--viewportLarge) {
    display: none;
  }
}

.heading {
  /* Font */
  color: var(--colorGrey700);

  /* Layout */
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

.price {
  composes: h4 from global;
  font-weight: var(--fontWeightBold);
  margin: 0 0 0 24px;

  @media (--viewportMedium) {
    margin: 0;
    padding: 0;
  }
}

.priceValue {
  color: var(--marketplaceColor);
}

.perUnit {
  color: var(--marketplaceColor);
}

.author {
  composes: p from global;
  margin: 0px 24px 32px 24px;

  display: flex;
  flex-direction: row;
  align-items: center;

  @media (--viewportMedium) {
    width: 100%;
    margin: 12px 0 36px 0;
    color: var(--colorGrey700);
  }
}

.providerAvatar {
  display: none;

  @media (--viewportLarge) {
    display: flex;
    margin-right: 10px;
  }
}

.providerNamePlain {
  display: inline;

  @media (--viewportLarge) {
    display: none;
  }
}

.providerNameLinked {
  display: none;

  @media (--viewportLarge) {
    display: inline;
  }
}

.orderHeading {
  display: none;

  @media (--viewportLarge) {
    display: block;
    margin-bottom: 0;
  }
}

.orderTitle {
  /* Font */
  color: var(--colorGrey700);

  margin-top: 0;
  margin-bottom: 2px;

  @media (--viewportLarge) {
    margin-bottom: 0;
  }
}

.orderHelp {
  composes: h5 from global;
  display: none;

  @media (--viewportMedium) {
    color: var(--colorGrey700);
    display: block;
    margin-top: 0;
  }
}

.bookingForm {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0;

  @media (--viewportMedium) {
    padding: 0;
    min-height: 400px;
  }

  @media (--viewportLarge) {
    min-width: 312px;
    min-height: auto;
  }
}

.openOrderForm {
  /* Ensure that mobile button is over Footer too */
  z-index: 9;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 18px 24px 18px 16px;
  background-color: var(--colorWhite);
  box-shadow: var(--boxShadowTop);
  display: flex;

  /* Contain repainting to this component only */
  /* 3D painting container helps scrolling */
  transform: translate3d(0, 0, 0);

  @media (--viewportMedium) {
    padding: 18px 60px 18px 60px;
  }

  @media (--viewportLarge) {
    display: none;
  }
}

.priceContainerInCTA,
.priceContainer {
  /* Layout */
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 4px;
  flex-shrink: 0;
  margin-right: 22px;
  padding: 3px 0;

  @media (--viewportMedium) {
    padding: 4px 0;
  }

  @media (--viewportLarge) {
    flex-direction: row;
    margin-right: unset;
    padding: 0;
  }
}

.priceContainerInCTA {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: unset;
}

.priceValueInCTA {
  /* Font */
  composes: h3 from global;
  color: var(--marketplaceColor);

  margin-top: 0;
  margin-bottom: 0px;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.perUnitInCTA {
  /* Font */
  composes: marketplaceTinyFontStyles from global;
  color: var(--marketplaceColor);
  font-weight: var(--fontWeightSemiBold);
  padding: 0;

  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (--viewportLarge) {}
}

.closedListingButton {
  border-left: 1px solid var(--colorGrey100);
  width: 100%;
  padding: 15px 24px 15px 24px;
  text-align: center;
}

.receipt {
  flex-shrink: 0;
}

.error {
  composes: h4 from global;
  color: var(--colorFail);

  padding: 0 24px;

  @media (--viewportMedium) {
    padding: 0;
  }
}

.errorSidebar {
  color: var(--colorFail);
  padding: 0 24px;

  @media (--viewportMedium) {
    padding: 0;
  }
}

.quickSpecs {
  margin-top: 1.5rem;
  padding: 1.5rem;
  border: 1px solid #e5e7eb;
  /* light gray border */
  border-radius: 8px;
  background-color: #fff;
  /* font-family: 'sf regular'; */
}

.quickSpecsTitle {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
  color: #111827;
  font-family: 'sf medium';

  & svg {
    margin-right: 5px;
  }
}

.quickSpecsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.quickSpecsList li {
  margin-bottom: 1rem;
}

.quickSpecsList li .headingBold {
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
  color: hsl(210 15% 45%);
  margin-bottom: 0.25rem;
  font-family: 'sf light';
  font-weight: 200;
}

.contactCard {
  /* border: 1px solid #e5e7eb; */
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  margin: 30px 0;


  .contactTitle {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
    color: #111827;
    padding: 0;
    font-family: 'sf medium';
  }

  .contactList {
    margin-bottom: 0;

    & li {
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }

      & span {
        font-family: 'sf regular';
        margin-right: 8px;
      }
    }
  }
}

.inquiryForm {
  flex-grow: 1;
  margin: 70px 0 100px 0;

  @media (--viewportMedium) {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    margin: 0;
  }
}

.inquirySubmitButtonWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px;
  background-color: var(--colorWhite);

  @media (--viewportMedium) {
    position: static;
    padding: 0;
    margin-top: auto;
  }
  
  & button{
    border-radius: 12px;
    font-family: 'sf medium';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
  }
}


.rightInfoContainer {
  background-color: #EEF6FF;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  height: fit-content;


  .author {
    border-bottom: 1px solid #DEDEDE;
    padding: 0 0 12px 0;
    margin-bottom: 18px;

    & a {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.1px;
      color: #223A46;
      font-family: 'sf medium';
    }
  }
}

.cardHeading {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #081F21;
  margin: 0 0 12px 0;
  padding: 0;
  text-transform: none;
  font-family: 'sf medium';
}

.quickSpecs {
  border-radius: 16px;
  margin: 0 0 24px 0;
  padding: 16px;

  .quickSpecsTitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    /* identical to box height, or 150% */
    letter-spacing: 0.1px;
    color: #E4760F;

  }
}

.quickSpecsList {
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #DEDEDE;
    padding: 12px 0;
    margin: 0;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

    .headingBold {
      font-weight: 274;
      font-size: 16px;
      line-height: 24px;
      color: #223A46;
      margin: 0;
    }

    .normalText {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.1px;
      color: #223A46;
      font-weight: 'fs medium';

    }
  }
}

.inquiryBtn {
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #FFFFFF;

  font-family: 'sf medium';
}


.contactCard {
  background: #FFF6EE;
  padding: 20px;

  & h3 {
    font-weight: 510;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #081F21;
    margin-bottom: 14px;
    padding: 0;





  }

  .contactList {
    & li {
      margin: 0 0 16px 0;
      padding: 0;


      &:last-child {
        margin-bottom: 0;
      }


      font-family: 'Hanken Grotesk';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #223A46;

    }
  }
}

.inquiryModal {
  :global(.customContainer) {
    border-radius: 20px;
    padding: 40px;
    border: 0;

    & button:has(svg) {
      & span {
        display: none;
      }

      & svg{
margin: 0;
width: 6px;
height: 6px;
      }

      border: 1px solid #929292;
      border-radius: 99rem;
      padding: 0;
      width: 20px;
      height: 20px;
      right: 18px;
      top: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & h3 {
      text-align: center;
      margin: 0 0 10px;
      padding: 0;
      font-family: 'sf medium';
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.1px;
      color: #1B1B1B;
    }

    & p {
      color: #949494;
      padding: 0;
      margin: 0 0 40px 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      font-family: 'sf regular';
      text-align: center;
      text-transform: none;
    }

    & label {
      font-family: 'sf regular';
      color: #081F21;
      margin: 0 0 8px 0;
      padding: 0;
      font-weight: 400 !important;
    }

    & input {
      border-radius: 99rem;
      min-height: 52px;
    }

    & textarea {
      border-radius: 12px;
      min-height: 134px;
    }

    & input,
    & textarea {
      border-color: #E9EBED;
      margin-bottom: 20px;

      padding: 12px 16px;
      font-size: 16px;
      line-height: 24px;

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }

  }
}
